<div class="main-div" fxLayoutAlign="center" fxLayout="column">
  <mat-card fxFlex="100">
    <mat-toolbar class="toolbar" fxLayoutAlign="start center" *ngIf="firstName">
      <span>Welcome, {{ firstName }}!</span>
    </mat-toolbar>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel *ngIf="userDetails">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Click to see your details!
        </mat-panel-title>
      </mat-expansion-panel-header>

      <p><strong>Full Name:</strong> {{ userDetails.firstName }} {{ userDetails.lastName }}</p>
      <p><strong>Workday ID:</strong> {{ userDetails.workday }}</p>
      <p><strong>Job Title:</strong> {{ userDetails.title }}</p>
      <p><strong>Project:</strong> {{ userDetails.project }}</p>
      <p><strong>Date Hired:</strong> {{ userDetails.date_hired }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <form class="filter-form" fxLayoutAlign="end center">
    <mat-form-field>
      <span matPrefix> </span>
      <input type="tel" matInput #searchInput (keyup)="filter(searchInput.value)" placeholder="Search" name= "search">
      <button matSuffix mat-button><mat-icon >search</mat-icon></button>
    </mat-form-field>
  </form>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="workday">
        <th mat-header-cell *matHeaderCellDef> Workday ID </th>
        <td mat-cell *matCellDef="let element"> {{element.workday}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Job Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="project">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Project </th>
        <td mat-cell *matCellDef="let element"> {{element.project}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Date Hired </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page"
      showFirstLastButtons>
    </mat-paginator>
  </div>



</div>

<!--  (keyup)="searchKey(searchInput.value)"  -->
