<div class="main-div" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar class="toolbar" fxLayoutAlign="center center">Capability Tracker</mat-toolbar>
    <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
      <mat-form-field appearance="fill">
        <mat-label>Enter Username</mat-label>
        <input matInput #usernameInput (keyup)="usernameKey(usernameInput.value)" placeholder="Username">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Enter Password</mat-label>
        <input matInput #passwordInput type="password" (keyup)="passwordKey(passwordInput.value)" placeholder="Password">
      </mat-form-field>
      <div class="alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
      <button mat-raised-button type="submit" (click)="onLogin()">Login</button>
      <button mat-raised-button type="submit" (click)="onRegister()">Sign Up</button>
    </form>
  </mat-card>
</div>
