<div class="main-div" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar class="toolbar" fxLayoutAlign="center center">Capability Tracker</mat-toolbar>
    <form class="login-form" fxLayoutAlign="stretch" fxLayout="column">
      <div class="form-group left-field" [class.has-error]="usernameValControl.invalid && usernameValControl.touched" fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Enter Username</mat-label>
          <input
            required
            type="text"
            id="usernameVal"
            name="usernameVal"
            class="form-control"
            matInput
            #usernameInput
            (keyup)="usernameKey(usernameInput.value)"
            placeholder="Username"
            [(ngModel)]="usernameVal"
            #usernameValControl="ngModel"
          >
        </mat-form-field>
        <span class="help-block alert-danger" *ngIf="usernameValControl.invalid && usernameValControl.touched">
          Username is required
        </span>
      </div>

      <div class="form-group left-field" [class.has-error]="passwordValControl.invalid && passwordValControl.touched" fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Enter Password</mat-label>
          <input
            required
            type="text"
            id="passwordVal"
            name="passwordVal"
            class="form-control"
            matInput
            #passwordInput
            type="password"
            (keyup)="passwordKey(passwordInput.value)"
            placeholder="Password"
            [(ngModel)]="passwordVal"
            #passwordValControl="ngModel"
          >
        </mat-form-field>
        <span class="help-block alert-danger" *ngIf="passwordValControl.invalid && passwordValControl.touched">
          Password is required
        </span>
      </div>

      <div class="alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
      <button mat-raised-button type="submit" (click)="onLogin()">Login</button>
      <button mat-raised-button type="submit" (click)="onRegister()">Sign Up</button>
    </form>
  </mat-card>
</div>
