 .main-div mat-card {
  padding: 0px;
 }

 .login-form {
  padding: 20px;
 }

 .toolbar {
  background-color: #00984f;
  color: white;
 }

 .alert-danger {
  color: red;
 }

 button {
  margin: 5px;
 }
