<div class="main-div" fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25">
    <mat-toolbar class="toolbar" fxLayoutAlign="center center">Register</mat-toolbar>
    <form class="register-form" fxLayoutAlign="stretch" fxLayout="column">
      <label>Basic Info</label>
      <div fxLayout="row">
        <div class="form-group left-field" [class.has-error]="firstNameValControl.invalid && firstNameValControl.touched">
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input
              required
              type="text"
              id="firstNameVal"
              name="firstNameVal"
              class="form-control"
              matInput
              #firstNameInput
              (keyup)="firstNameKey(firstNameInput.value)"
              [(ngModel)]="firstNameVal"
              #firstNameValControl="ngModel"
            >
          </mat-form-field>
          <span class="help-block alert-danger" *ngIf="firstNameValControl.invalid && firstNameValControl.touched">
            First name is required
          </span>
        </div>

        <div class="form-group right-field" [class.has-error]="lastNameValControl.invalid && lastNameValControl.touched" >
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input
              required
              type="text"
              id="lastNameVal"
              name="lastNameVal"
              class="form-control"
              matInput
              #lastNameInput
              (keyup)="lastNameKey(lastNameInput.value)"
              [(ngModel)]="lastNameVal"
              #lastNameValControl="ngModel"
            >
          </mat-form-field>
          <span class="help-block alert-danger" *ngIf="lastNameValControl.invalid && lastNameValControl.touched">
            Last name is required
          </span>
        </div>
      </div>

      <div fxLayout="row">
        <div class="form-group left-field" [class.has-error]="usernameValControl.invalid && usernameValControl.touched">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input
              required
              type="text"
              id="usernameVal"
              name="usernameVal"
              class="form-control"
              matInput
              #usernameInput
              (keyup)="usernameKey(usernameInput.value)"
              [(ngModel)]="usernameVal"
              #usernameValControl="ngModel"
            >
          </mat-form-field>
          <span class="help-block alert-danger" *ngIf="usernameValControl.invalid && usernameValControl.touched">
            Username is required
          </span>
        </div>

        <div class="form-group right-field" [class.has-error]="emailValControl.invalid && emailValControl.touched">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              required
              email
              type="text"
              id="emailVal"
              name="emailVal"
              class="form-control"
              matInput
              #emailInput
              (keyup)="emailKey(emailInput.value)"
              [(ngModel)]="emailVal"
              #emailValControl="ngModel"
            >
          </mat-form-field>
          <span class="help-block alert-danger" *ngIf="emailValControl.errors?.required && emailValControl.touched">
            Email is required
          </span>
          <span class="help-block alert-danger" *ngIf="emailValControl.errors?.email && emailValControl.touched">
            Email is invalid
          </span>
        </div>
      </div>

      <div fxLayout="row">
        <div class="form-group left-field" [class.has-error]="passwordValControl.invalid && passwordValControl.touched">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              required
              type="text"
              id="passwordVal"
              name="passwordVal"
              class="form-control"
              matInput
              #passwordInput
              type="password"
              (keyup)="passwordKey(passwordInput.value)"
              [(ngModel)]="passwordVal"
              #passwordValControl="ngModel"
            >
          </mat-form-field>
          <span class="help-block alert-danger" *ngIf="passwordValControl.invalid && passwordValControl.touched">
            Password is required
          </span>
        </div>

        <div class="form-group right-field" [class.has-error]="confirmPassValControl.invalid && confirmPassValControl.touched">
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
              required
              type="text"
              id="confirmPassVal"
              name="confirmPassVal"
              class="form-control"
              matInput
              #confirmPassInput
              type="password"
              (keyup)="confirmPassKey(confirmPassInput.value)"
              [(ngModel)]="confirmPassVal"
              #confirmPassValControl="ngModel"
            >
          </mat-form-field>
          <span class="help-block alert-danger" *ngIf="confirmPassValControl.invalid && confirmPassValControl.touched">
            Confirmation password is required
          </span>
        </div>
      </div>

      <label>Work Info</label>
      <div class="form-group" [class.has-error]="workdayValControl.invalid && workdayValControl.touched" fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Workday</mat-label>
          <input
            required
            type="text"
            id="workdayVal"
            name="workdayVal"
            class="form-control"
            matInput
            #workdayInput
            (keyup)="workdayKey(workdayInput.value)"
            [(ngModel)]="workdayVal"
            #workdayValControl="ngModel"
          >
        </mat-form-field>
        <span class="help-block alert-danger" *ngIf="workdayValControl.invalid && workdayValControl.touched">
          Workday is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="titleValControl.invalid && titleValControl.touched" fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Job Title</mat-label>
          <input
            required
            type="text"
            id="titleVal"
            name="titleVal"
            class="form-control"
            matInput
            #titleInput
            (keyup)="titleKey(titleInput.value)"
            [(ngModel)]="titleVal"
            #titleValControl="ngModel"
          >
        </mat-form-field>
        <span class="help-block alert-danger" *ngIf="titleValControl.invalid && titleValControl.touched">
          Title is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="dateHiredValControl.invalid && dateHiredValControl.touched" fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Date Hired</mat-label>
          <input
            required
            type="date"
            id="dateHiredVal"
            name="dateHiredVal"
            class="form-control"
            matInput
            #dateHiredInput
            (keyup)="dateHiredKey(dateHiredInput.value)"
            [(ngModel)]="dateHiredVal"
            #dateHiredValControl="ngModel"
          >
        </mat-form-field>
        <span class="help-block alert-danger" *ngIf="dateHiredValControl.invalid && dateHiredValControl.touched">
          Date hired is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="projectValControl.invalid && projectValControl.touched" fxLayout="column">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Project</mat-label>
          <mat-select
            required
            id="projectVal"
            name="projectVal"
            [(ngModel)]="projectVal"
            class="form-control"
            #projectValControl="ngModel"
          >
            <mat-option *ngFor="let project of projects" [value]="project.id">
              {{project.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="help-block alert-danger" *ngIf="projectValControl.invalid && projectValControl.touched">
          Project is required
        </span>
      </div>

      <div class="alert-danger" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>
      <button mat-raised-button type="submit" (click)="onSubmit()">Submit</button>
    </form>
  </mat-card>
</div>
